.container{
  position: relative;
  top: 20px;
  border-left: 5px solid black;
  border-right: 5px solid black;
  margin: 15px;
  background: grey;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  padding-top: 0px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
  
h1 {
  color: black;
  font-size: 70px;
  text-align: center;
  
  }

h2 {
   color: black;
  font-size: 40px;
  background: pink;
  text-align: right;
  margin: 0px;
  border:solid black;
}
p{
  font-size: 25px;
  color: black;
  padding:10px;
  margin:0;
}
  
h3 {
  color: white;
  font-size: 40px;
  background: red;
  text-align: right;
  margin: 0px;
  border:solid black;
}
 h4 {
  color: black;
  font-size: 40px;
  background: yellow;
  text-align: right;
    margin: 0px;
    border:solid black;
}
.row{
    width:100%;
}
/*desktop pc view*/
@media(min-width:992px){
  .col-lg-4{
      width:33.33%;
      float:left;
  }
}
/*tablet pc view*/
@media(min-width:768px) and (max-width:991px){
  .col-md-6{
     width:50%;
      float:left;
  }
  .col-md-12{
        width:100%;
       float:left;
   
  }
}
/*cell phone view */
@media(max-width:767px){
  .col-sx-12{
      float:left;
      width:100px;
  }
}
*{ box-sizing:border-box;
  margin:0;
  padding:0;
}

